<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    </head>
    <body>
        <div id="landing-page-container">
            <div id="username-start-container"> </div>
            <div id="leaderboard-div">
                <a href="/leaderboard"><button id="leaderboard-button" class="blue-button">Leaderboard</button></a>
            </div>
        </div>
        <div id="quiz-container" class="text-style"></div>
    </body>
</html>

<script type="module">
    import {loginOrStart} from '{{url_for('static', filename='quiz_manager.js')}}';
    import {checkIfTokenIsValid, logoutButtonOnClick} from '{{url_for('static', filename='auth.js')}}';
    loginOrStart()
    setInterval(function () { checkIfTokenIsValid(); }, 300_000); // run every 5 minutes
</script>
