<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    </head>
    <body>
        <a href="/"><button class="blue-button">Home</button></a>
        <h1> Leaderboard </h1>
    </body>

</html>
<script>
    fetch("leaderboard", {method: "post"}).then(response => response.json()).then(data => {
        var tableData = "<table>";
        tableData += "<tr><th>Rank</th><th>Name</th><th>Num tests</th><th>Score</th><th>Total correct</th></tr>";
        for (let i = 0; i < data.length; i++) {
            tableData += `<tr><td>${i + 1}</td><td>${data[i].displayName}</td><td>${data[i].numTests}</td>` +
                         `<td>${data[i].avg}</td><td>${data[i].totalScore}</td></tr>`
        }
        tableData += "</table>";
        document.body.innerHTML += tableData;
    });
</script>
