<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    </head>
    <body>
        <div id="landing-page-container">
            {% if auth_type == 'local_auth' %}
            <div id="username-start-container">
                Enter your name:
                <input type="text" id="name-input-box"> </br>
                <button id="login-button" class="green-button" >Login</button> <br/>
                <button id="create-user-button" class="blue-button" >Create user</button>
                <div id="error-msg"> </div>
            </div>
            {% else %}
                <span id="google-user" style="display: none">{{ user }}</span>
                <span id="google-displayName" style="display: none">{{ displayName }}</span>
                <span id="google-sessionToken" style="display: none">{{ sessionToken }}</span>
            {% endif %}
            <div id="quiz-container" class="text-style"> </div>
        </div>
    </body>
</html>

{% if auth_type == 'local_auth' %}
<script type="module">
    import {loginButtonOnClick, createUserButtonOnclick} from '{{url_for('static', filename='auth.js')}}';
    document.getElementById("login-button").addEventListener('click', loginButtonOnClick)
    document.getElementById("create-user-button").addEventListener('click', createUserButtonOnclick)
</script>
{% else %}
<script type="module">
import {googleLogin} from '{{url_for('static', filename='auth.js')}}';
googleLogin()
</script>
{% endif %}
