<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    </head>
    <body>
        <div id="landing-page-container">
            <a href="/"><button class="blue-button">Home</button></a>
            <div id="profile-container"></div>
            <div id="error-msg"> </div>
        </div>
    </body>
</html>

<script type="module">
import { checkIfTokenIsValid, logoutButtonOnClick } from '{{url_for('static', filename='auth.js')}}';
import { profileDynamicUpdate } from '{{url_for('static', filename='handlers.js')}}';
    profileDynamicUpdate()
    setInterval(function () { checkIfTokenIsValid(); }, 300_000); // run every 5 minutes
</script>
