html, body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #f5f4f2;
}

.d-none{
    display:none !important;
}

.show{
    display:block;
}

#quiz-container{
    padding-top:50px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.dynamic-container{
    display: none;
}

.question{
    width: 100%;
    margin-bottom: 30px;
    font-size: 20px;
}

small{
    margin-top:10px;
    font-size: 14px;
}

.answer-container{
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 50px;
}

.answers {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.answer {
    font-size: 12px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.1);
    cursor:pointer;
    border:2px solid transparent;
}

.test-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top:30px;
}

button {
    font-family: monospace;
    border: none;
    background-color: transparent;
    width: 120px;
    padding: 10px;
    border-radius: .3em;
    cursor: pointer;
}

#logout-button {
    padding: 0px;
    border-radius: .3em;
    width: 50px;
}

#change-name-edit-button {
    padding: 0px;
    border-radius: .3em;
    width: 50px;
}

#change-name-submit-button {
    padding: 0px;
    border-radius: .3em;
    width: 50px;
}

#change-name-input {
    width: 100px;
}

button:disabled{
    color: #fff;
    background-color: #6c757d;
    opacity: .7;
}

.green-button {
    background-color: rgb(62, 148, 122);
    color: #fff;
    margin-top: 20px;
}

.red-button {
    background-color: rgb(241, 71, 85);
    color: #fff;
}

.blue-button {
    background-color: rgb(86 113 205);
    color: #fff;
}

#force-finish{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 10px;
    top: 10px;
    border-radius: 3em;
}

#next {
    background-color: rgb(62, 148, 122);
    color: #fff;
}

#skip {
    background-color: rgb(241, 201, 71);
    color: #fff;
}
button:hover:not([disabled]) {
    scale: 1.03;
    transition: 0.2s;
}

.selected {
    border: 2px solid rgb(54, 48, 41);
}

.invalid {
    position: relative;
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 5px 5px 13px -5px #da3939;
}

#questions-overview{
    display: flex;
    justify-content: center;
    width: 65%;
    margin: 30px auto;
    flex-wrap: wrap;
    gap: 5px;
}

.question-slot{
    font-size: 12px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    background: #fff;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: .3em;
    cursor: pointer;
}

#landing-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
}

#username-start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    font-size: 20px;
}

#start-button {
    margin-top: 15px;
}

#name-input-box {
    background-color: #fff;
    padding: 20px;
    box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.1);
    cursor:pointer;
    border:2px solid transparent;
    font-size: 20px;
    margin-top: 15px;
}

@keyframes shake {
  0% {
    left: 0rem;
  }
  25% {
    left: 0.5rem;
  }
  75% {
    left: -0.5rem;
  }
  100% {
    left: 0rem;
  }
}

@media only screen and (max-width: 460px){
    #username-start-container {
        width: 80%;
        margin: 0 auto;
    }

    #leaderboard-div {
        width: 80%;
    }

    #questions-overview {
        width: 100%;
        margin: 0px 0px 35px 0px;
    }

    #force-finish{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 10%;
        padding: 9px;
        border-radius: 3em;
    }

    .answer-container{
        width: 100%;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .answers{
        width: 100%;
    }

    .test-buttons {
        flex-direction: column-reverse;
        gap: 20px;
    }

    button{
        width: 100%;
        padding: 15px;
    }

    #name-input-box{
        width: 100%;
    }
}

@media only screen and (min-width: 460px){
    .answer:hover{
        border: 2px solid rgb(54, 48, 41);
    }
}

.slot-selected {
    border: thin solid black;
}

.slot-not-selected {
    border: none
}

.question-selected {
    display: block;
}

.question-not-selected {
    display: none;
}

.correct-answer {
    background-color: rgb(62, 148, 122);
    color: #fff;
}

.wrong-answer {
    background-color: rgb(241, 71, 85);
    color: #fff;
}

.slot-answered {
    background-color: rgb(201, 193, 211)
}

#display-name {
    display: inline
}
